/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Change the background color as needed */
}


.navbar-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Align items horizontally */
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  color: #555; /* Change the text color as needed */
}

.nav-link.active {
  color: #007bff; /* Change the active link color as needed */
}

.content {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #666; /* Change the text color as needed */
}

#user {
  display: flex;
  align-items: center;
  margin-left: -15px;
}

#guest {
  display: flex;
  align-items: center;
  margin-left: -15px;
}

#user a{
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

#guest a {
  margin-right: 30px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
